@import-normalize;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
}

a,
img,
input,
label,
textarea {
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}
